@charset "UTF-8";
header {
  background-color: rgb(245, 245, 245);
}
header .logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: #14a3dd;
  font-size: 1.6em;
}
header .logo .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .logo .container nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}
header .logo .container nav a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
header .logo .container nav a:hover {
  color: #1585b1;
}

footer {
  background-color: rgb(220, 220, 220);
}
footer p {
  padding: 12px;
  color: gray;
}
footer .container {
  display: flex;
  height: 110px;
  justify-content: center;
  align-items: flex-end;
}

body {
  font-family: "Roboto", sans-serif;
}
body h1 {
  font-size: 3.5em;
}
body h2 {
  font-size: 2.7em;
}
body h3 {
  font-size: 2em;
}
body p {
  font-size: 1.25em;
}
body ul {
  list-style: none;
}
body li {
  font-size: 1.25em;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 1);
  box-shadow: 2px 2px 10px rgb(0, 0, 1);
  color: white;
  background-color: #14a3dd;
}
button.btn-color {
  background-color: #14a3dd;
  color: white;
}
button.btn-color:hover {
  background-color: #098cc4;
}
button.bg-form-color {
  background-color: #8bc3da;
}
button:hover {
  background-color: #1585b1;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.color-iniciar {
  color: #14a3dd;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#hero h1 {
  color: white;
}
#hero button {
  font-size: 1.75em;
  margin-top: 20px;
}

.color-acento, #reserva-tu-cita .color-acento2 {
  color: #14a3dd;
}

#sobre-nosotros .container {
  text-align: center;
  padding: 200px 12px;
}

#nuestros-servicios {
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
}

#nuestros-servicios .container {
  padding: 150px 12px;
}

#nuestros-servicios h2 {
  margin-top: 0;
}

.diseñoh3 {
  color: white;
  font-weight: bold;
}

#nuestros-servicios button {
  margin-top: 20px;
}

#nuestros-servicios p {
  display: none;
}

#nuestros-servicios .carta {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}
#nuestros-servicios .carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/implante.png");
  background-color: #f0f0f0;
}
#nuestros-servicios .carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ortodoncia.png");
  background-color: #f0f0f0;
}
#nuestros-servicios .carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/blanqueamiento.png");
  background-color: #f0f0f0;
}
#nuestros-servicios .carta:nth-child(4) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/protesis.png");
  background-color: #f0f0f0;
}
#nuestros-servicios .carta:nth-child(5) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/limpiezadental.png");
  background-color: #f0f0f0;
}
#nuestros-servicios .carta:last-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/endodoncia.png");
  background-color: #f0f0f0;
}

#caracteristicas .container {
  text-align: center;
  padding: 200px 12px;
}

#caracteristicas li {
  margin: 15px 0px;
  font-weight: bold;
}

.borde-imagenes {
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
}

.container-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: lightgray;
  padding: 20px;
}
.container-img .img-caracteristicas {
  max-width: 100%;
  height: 500px;
}

.color-fondo {
  /*
  * Created with https://www.css-gradient.com
  * Gradient link: https://www.css-gradient.com/?c1=ffffff&c2=e7f8fe&gt=r&gd=dbr
  */
  background: #FFFFFF;
  background: radial-gradient(at right bottom, #FFFFFF, #E7F8FE);
}

#reserva-tu-cita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(30, 30, 30);
  color: white;
  height: 80vh;
}
#reserva-tu-cita h2 {
  font-size: 9vw;
}
#reserva-tu-cita button {
  margin-top: 30px;
  font-size: 4vw;
}
.color-formulario {
  background-color: #84c2da;
}

.redes {
  display: flex;
  justify-content: center;
}

.redes-sociales img {
  height: 70px;
  margin-left: 5px;
  margin-bottom: 1rem;
}

/* MEDIA QUERIES */
@media (min-width: 991px) {
  header {
    position: top;
    width: 100%;
    background-color: rgb(220, 220, 220);
  }
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  #hero h1 {
    font-size: 5em;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }
  .nav-hover li:hover {
    background-color: #14a3dd;
    color: white;
  }
  #sobre-nosotros .container {
    display: flex;
    justify-content: center;
  }
  #sobre-nosotros .informacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
    text-align: initial;
    padding: 0px 50px;
    font-size: 1.2em;
  }
  #sobre-nosotros .img-container {
    background-image: url("../img/sobrenosotros.png");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 600px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  #nuestros-servicios p {
    display: block;
    margin-bottom: 40px;
  }
  #nuestros-servicios h3 {
    margin-top: 0;
  }
  .carta {
    padding: 20px;
    background-color: #f0f0f0;
  }
  #caracteristicas .container {
    text-align: initial;
  }
  #caracteristicas ul {
    margin-left: 100px;
  }
  #reserva-tu-cita h2 {
    font-size: 3em;
  }
  #reserva-tu-cita button {
    font-size: 2em;
  }
  .color-iniciar {
    color: #14a3dd;
  }
  .container-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    background-color: lightgray;
    padding: 20px;
  }
  .img-caracteristicas {
    max-width: 100%;
    height: 500px;
    margin-left: 40px;
  }
}

/*# sourceMappingURL=estilos.css.map */
