
.color-fondo {
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=ffffff&c2=e7f8fe&gt=r&gd=dbr
*/
background: #FFFFFF;
background: radial-gradient(at right bottom, #FFFFFF, #E7F8FE);
}

#reserva-tu-cita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;

    h2 {
        font-size: 9vw;
    }

    button {
        margin-top: 30px;
        font-size: 4vw;
    }
    
    .color-acento2 {
        @extend .color-acento
    }
}



.color-formulario {
    background-color: #84c2da;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes-sociales img {
    height: 70px;
    margin-left: 5px;
    margin-bottom: 1rem;
}
