*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
@import "variables";
@import "header";
@import "footer";
@import "indexgenerales";
@import "contacto";




/* MEDIA QUERIES */

@media (min-width: 991px){

    header{
        position: top;
        width: 100%;
        background-color: rgb(220,220,220);
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    .titulo-nav {
        font-size: 2rem;
    }

    #hero h1{
        font-size: 5em;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    .nav-hover li:hover{
        background-color: #14a3dd;
        color: white;
    }

    #sobre-nosotros .container{
        display: flex;
        justify-content: center;
    }

    #sobre-nosotros .informacion{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        max-width: 500px;
        text-align: initial;
        padding: 0px 50px;
        font-size: 1.2em;
    }

    #sobre-nosotros .img-container{
        background-image: url("../img/sobrenosotros.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 600px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }

    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 20px; 
      }

    #nuestros-servicios p{
        display: block;
        margin-bottom: 40px;
    }

    #nuestros-servicios h3{
        margin-top: 0;
    }

    .carta {
        padding: 20px;
        background-color: #f0f0f0;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #reserva-tu-cita h2{
        font-size: 3em;
    }

    #reserva-tu-cita button{
        font-size: 2em;
    }

    .color-iniciar{
        color: #14a3dd;
    }

    .container-img {
        display: flex;
        flex-direction: row;
        align-items: center; 
        text-align: center; 
        background-color: lightgray; 
        padding: 20px;
    }
    
    .img-caracteristicas {
        max-width: 100%; 
        height: 500px; 
        margin-left: 40px;
    }

    .footer-links {
        ul {
            display: flex;
        }
        
        li {
            flex-direction: row;
            margin: 10px;
        }
    }
    
}
